
.parent{
    margin-left: 30px;
    margin-right: 30px;
}
.wrapper {
  list-style: none;
  margin: auto;
  padding: 0px;
}

.child {
  font-size: 1.5em;
  margin-top: 5px;
  padding: .3em;
  border: 1.5px solid oldlace;
  border-radius: 20px;
}

.child:hover {
  background-color: #61dafb83;
  cursor: pointer;
}
